<%= form_tag questions_path, multipart: true do %>
  <div>
    <h3 class="buffer-bottom"><%= t('.enter_question_level') %></h3>

    <p><em><%= t('.info_1') %></em></p>

    <p><code><%= t('.info_2') %></code></p>
  </div>
  <div class="field buffer-top">
    <%= label_tag t('.level', count: Question::QUESTION_LEVELS) %><br>
    <%= text_field_tag :questions_level %>
  </div>
  <div class="field buffer-top">
    <%= label_tag t('.file_with_questions') %><br>
    <%= file_field_tag :questions_file %>
  </div>

  <div class="actions buffer-top">
    <%= submit_tag t('.load'), class: 'btn btn-success' %>
  </div>
<% end %>
